<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DbAbsensi"
             connectionString="server=127.0.0.1;database=db_absensi;uid=root;pwd=;charset=utf8mb4;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>